.app-about-story  {
    padding-top: clamp(36px, 15vw, 60px);
    padding-bottom: clamp(36px, 15vw, 60px);
}

.app-about-story__grid {
    display: grid;
    grid-gap: 34px;
}

@include mq-min(sm) {
    .app-about-story__grid {
        grid-template-columns: minmax(auto, 44%) 1fr;
    }
}

@include mq-min(md) {
    .app-about-story__grid {
        grid-template-columns: minmax(auto, 50%) 1fr;
    }
}

.app-about-story__photo {
    position: relative;
    margin-bottom: 50px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mq-max(sm) {
            min-height: 50vh;
        }
    }
    .app-about-story__photo-content {
        bottom: -50px;
    }

    .app-article-sp-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;

        > svg {
            position: absolute;
            left: 12px;
            bottom: 100%;
            width: clamp(80px, 15vw, 120px);
            height: clamp(40px, 15vw, 80px);
            margin-bottom: 12px;
        }

        @include mq-min(md) {
            left: 10%;
            right: 10%;

            > svg {
                left: -13%;
                margin-bottom: 24px;
            }
        }
    }

}
