.app-about-experts  {
    padding-top: clamp(46px, 15vw, 80px);
    padding-bottom: clamp(46px, 15vw, 90px);
}


.app-about-experts__grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
}


@include mq-min(sm) {
    .app-about-experts__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include mq-min(md) {
    .app-about-experts__grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


.app-about-experts__grid-cell {
    img {
        display: block;
        object-fit: cover;
        width: 100%;
        min-height: 160px;
    }
}