.app-about-story  {
    padding-top: withRatio(48px);
    padding-bottom: withRatio(48px);
}

.app-about-story__grid {
    display: grid;
    grid-gap: 34px;
}

@include mq-min(sm) {
    .app-about-story__grid {
        grid-template-columns: minmax(auto, 44%) 1fr;
    }
}

@include mq-min(md) {
    .app-about-story__grid {
        grid-template-columns: minmax(auto, 50%) 1fr;
    }
}

.app-about-story__photo {
    position: relative;
    margin-bottom: 50px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mq-max(sm) {
            min-height: 50vh;
        }
    }
    .app-about-story__photo-content {
        bottom: -50px;
    }
}

.app-about-story__photo-content {
    color: white;
    background-color: var(--cl-yellow);
    position: absolute;
    left: 0;
    right: 0;
    padding: 24px 40px;
    font-family: 'Rokkitt', sans-serif;
    line-height: 1.5;
    box-shadow: 0 0 0 8px white;
    font-style: italic;
    font-weight: 300;

    > svg {
        position: absolute;
        left: 12px;
        bottom: 100%;
        width: clamp(80px, 15vw, 120px);
        height: clamp(40px, 15vw, 80px);
        margin-bottom: 12px;
    }

    @include mq-min(md) {
        left: 10%;
        right: 10%;

        > svg {
            left: -13%;
            margin-bottom: 24px;
        }
    }
}
