
.app-brand-slider {
    --brand-slider-ident: 80px;
    padding: var(--brand-slider-ident) 0;

    swiper-slide {
        width: auto;
        position: relative;

        &:before {
            content: "";
            height: 60%;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
            margin-right: 30px;
            background-color: var(--cl-section-border);
        }
    }

    @include mq-max(lg) {
        --brand-slider-ident: 40px;

    }

    @include mq-max(md) {
        padding: 0;

        swiper-slide {
             img {
                 height: 108px;
             }
        }
    }
}