
.app-brand-slider {
    padding: var(--brand-slider-ident) 0;

    swiper-slide {
        width: auto;
        position: relative;

        &:before {
            content: "";
            height: 60%;
            width: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
            margin-right: 5px;
            background-color: var(--cl-section-border);
        }

        img {
            height: 260px;
            pointer-events: none;
        }
    }

    @include mq-max(lg) {
        --brand-slider-ident: 40px;

        swiper-slide {
            img {
                height: 180px;
            }
        }
    }

    @include mq-max(md) {
        padding: 0;

        swiper-slide {
             img {
                 height: 108px;
             }
        }
    }
}