.app-gifting {
    --slider-btn-size: 56px;
    --slider-tools-indent: 150px;

    padding-top: 60px;
    padding-bottom: 94px;
    background-color: white;
    background-image: url('/bg-2.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid var(--cl-section-border);
    border-bottom: 1px solid var(--cl-section-border);

    .app-content {
        text-align: center;
        padding-left: var(--slider-tools-indent);
        padding-right: var(--slider-tools-indent);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1640px;

        #gifting-swiper-right,
        #gifting-swiper-left {
            --btn-indent: 0;
            --btn-size: var(--slider-btn-size);

            position: absolute;
            bottom: 33%
        }

        #gifting-swiper-left {
            left: calc(var(--slider-tools-indent)/2 - var(--slider-btn-size)/2)
        }
        #gifting-swiper-right {
            right: calc(var(--slider-tools-indent)/2 - var(--slider-btn-size)/2)
        }
    }

    swiper-slide {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    swiper-container {
        margin-top: 44px;
        display: flex;
    }

    swiper-slide:not(.swiper-slide-active):not(:hover) {
        .app-btn,
        .app-gifting-card__content {
            opacity: 0;
            transition: opacity 0.2s ease-out;
        }
        .app-gifting-card__body {
            transform: translateY(calc(100% - var(--gf-title-height)));
        }
    }

    .swiper-slide-active {
        .app-gifting-card__img {
            &:before {
                padding-bottom: calc(100% * 360 / 578);
            }
        }
    }

    @include mq-max(lg) {
        --slider-tools-indent: 100px;
    }
    @include mq-max(md) {
        --slider-tools-indent: 0px;

        padding-top: 40px;
        padding-bottom: 44px;

        swiper-slide {
            width: 60vw;
        }

        h3 {
            margin-top: 8px;
        }

        #gifting-swiper-right,
        #gifting-swiper-left {
            display: none;
        }
    }
    @include mq-max(sm) {
        swiper-slide {
            width: 70vw;
        }
    }
}

.app-gifting-card {
    --gf-title-height: 80px;

    background: white;
    border: 1px solid var(--cl-section-border);
    overflow: hidden;
}

.app-gifting-card__body {
    padding: 0 12px 28px;
    position: relative;
    transition: transform 0.2s ease-out;

    .app-btn {
        margin-top: 24px;
    }
}

.app-gifting-card__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 18px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-gifting-card__content {
    font-weight: 300;
    font-family: 'Rokkitt', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
}

.app-gifting-card__img {
    position: relative;

    img {
        top: 0;
        left: 0;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &:before {
        content: "";
        padding-bottom: calc(100% * 120/245);
        display: block;
    }
}