.app-photo-slider {
    background-color: var(--bg-dark);
    margin-bottom: 10px;

    swiper-slide {
        width: auto;

        img {
            display: block;
            height: 184px;
        }
    }

    @include mq-max(md) {
        swiper-slide {
            img {
                height: 90px;
            }
        }
    }
}