.app-post {
    padding-top: withRatio(48px);
    padding-bottom: withRatio(48px);
}

.app-post__grid {
    display: grid;
    grid-gap: 34px;
}

.app-post__photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

@include mq-min(sm) {
    .app-post__grid {
        grid-template-columns: minmax(auto, 33%) 1fr;
    }
    .app-post__photos {
        grid-template-columns: 1fr;
    }
}

@include mq-min(md) {
    .app-post__grid {
        grid-template-columns: minmax(auto, 44%) 1fr;
    }
    .app-post__photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.app-post__photo-item {
    max-height: 160px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:first-child {
        grid-column: 1 / -1;
        max-height: 100%;
    }
}

.app-post__container {

}

.app-post__block {
    --bl-hor-indent: #{withRatio(18px)}

}

.app-post__block-title {
    background-color: var(--cl-yellow);
    padding-left: var(--bl-hor-indent);
    padding-right: var(--bl-hor-indent);
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: withRatio(20px);
    margin-bottom: withRatio(22px);
    color: white;
}

.app-post__block-content {
    padding-left: var(--bl-hor-indent);
    padding-right: var(--bl-hor-indent);
    padding-bottom: withRatio(28px);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;

    a {
        color: var(--cl-yellow);
        font-weight: 600;
    }

    hr {
        max-width: 33px;
        height: 4px;
        margin: 42px 0 32px;
        border: none;
        background: var(--cl-yellow);
    }

    p ~ p {
        margin-top: withRatio(28px);
    }

    ul {
        margin: 0;
        padding-left: 16px;

        li::marker {
            color: var(--cl-yellow);
        }
    }
}