.app-solutions {
    background-color: white;
    background-image: url('/bg-1.jpg') ;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    border-top: 1px solid var(--cl-section-border);
    border-bottom: 1px solid var(--cl-section-border);
    margin-top: 36px;
    display: flex;

    &:before {
        content: "";
        flex: 1;
        min-width: 0;
        background-image: url(/solutions.webp);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 84%;
        margin-right: 70px;
    }

    .app-content__inner {
        max-width: 850px;
        padding-right: var(--container-indent);
    }

    .app-content {
        flex: 1;
        min-width: 0;
        padding-top: 120px;
        padding-bottom: 140px;

        hr {
            max-width: 33px;
            height: 4px;
            margin: 48px 0;
            border: none;
            background: var(--cl-yellow);
        }
        p {
            font-size: 20px;
            letter-spacing: 1.2px;
            line-height: 1.6;
        }
        .app-btn {
            margin-top: 30px;
        }
    }
}