.app-solutions {
    --sol-content-ti: 120px;
    --sol-content-bi: 140px;

    background-color: white;
    background-image: url('/bg-1.jpg') ;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    border-top: 1px solid var(--cl-section-border);
    border-bottom: 1px solid var(--cl-section-border);
    margin-top: 36px;
    display: flex;

    &:before {
        content: "";
        flex: 1;
        min-width: 0;
        background-image: url(/solutions.webp);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 84%;
        margin-right: 70px;

        @include mq-max(lg) {
            background-size: auto 25vw;
            background-position: right 17%;
            margin-right: 40px;
        };
    }

    .app-content__inner {
        max-width: 850px;
        padding-right: var(--container-indent);
    }

    .app-content {
        flex: 1;
        min-width: 0;
        padding-top: withRatio(var(--sol-content-ti));
        padding-bottom: withRatio(var(--sol-content-bi));

        hr {
            max-width: 33px;
            height: 4px;
            margin: 48px 0;
            border: none;
            background: var(--cl-yellow);
        }
        p {
            font-size: withRatio(20px);
            letter-spacing: 1.2px;
            line-height: 1.6;
        }
        .app-btn {
            margin-top: 30px;
        }
    }

    @include mq-max(lg) {
        &:before {
            background-size: auto 25vw;
            background-position: right 17%;
            margin-right: 40px;
        }
    }

    @include mq-max(md) {
        --sol-content-ti: 60px;
        --sol-content-bi: 80px;

        margin: 0;
        flex-direction: column;

        .app-content {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 0;
        }

        .app-solutions__cc, .app-solutions__tc, .app-solutions__bc {
            padding-left: var(--container-indent);
            padding-right: var(--container-indent);
        }

        .app-solutions__tc, .app-solutions__bc {
            background-color: white;
        }

        .app-solutions__cc {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        .app-solutions__tc {
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid var(--cl-section-border);
        }

        .app-solutions__bc {
            padding-top: 24px;
            padding-bottom: 44px;
            border-top: 1px solid var(--cl-section-border);
        }

        .app-content__inner {
            max-width: 100%;
            padding: 0;
        }
    }
}