<section class="app-about-excel">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-excel__grid">
                <div class="app-about-excel__grid-cell">
                    <div class="app-about-excel__icon">
                        <svg width="98" height="98">
                            <use xlink:href="/app-sprite.svg#gift-box"></use>
                        </svg>
                        <span>WE EXCELL AT</span>
                    </div>
                </div>
                <div class="app-about-excel__grid-cell">
                    <nav class="app-about-excel__nav">
                        <a href="">Onsite Event Gifting</a>
                        <a href="">Corporate Holiday Gifts</a>
                        <a href="">Employee Appreciation Gifts</a>
                    </nav>
                </div>
                <div class="app-about-excel__grid-cell">
                    <nav class="app-about-excel__nav">
                        <a href="">Reward & Recognition Programs</a>
                        <a href="">Tradeshow & Promotional Items</a>
                        <a href="">Executive bits</a>
                    </nav>
                </div>
                <div class="app-about-excel__grid-cell">
                    <nav class="app-about-excel__nav">
                        <a href="">Sales Incentive Gifts</a>
                        <a href="">Gifting Websites</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>