<section class="app-about-contact-form">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-contact-form__title">
                FILL OUT THE FORM BELOW, WE WOULD LOVE TO HEAR FROM YOU.
            </div>
            <div class="app-about-contact-form__content">
                <p>Upon form completion, your company is immediately assigned to one of our well-connected, veteran account managers. During your free consultation the account
                    manager gathers information to establish a list of custom corporate gifting options derived from your unique goals.</p>
                <p class="cl-yellow"><b>Pairing with Global Evento, a top corporate gifting company, alleviates stress and avoids unnecessary time and money loss for your business.</b></p>
            </div>
            <form class="app-about-contact-form__container">
                <div class="app-about-contact-form__grid">
                    <div class="app-about-contact-form__fieldset">
                        <div class="app-about-contact-form__item">
                            <input type="text" placeholder="FIRST NAME" autocomplete="family-name" />
                        </div>
                        <div class="app-about-contact-form__item">
                            <input type="text" placeholder="LAST NAME" autocomplete="given-name" />
                        </div>
                        <div class="app-about-contact-form__item">
                            <input type="tel" placeholder="PHONE" />
                        </div>
                        <div class="app-about-contact-form__item">
                            <input type="email" placeholder="EMAIL" />
                        </div>
                        <div class="app-about-contact-form__item s1">
                            <input type="text" placeholder="COMPANY" />
                        </div>
                        <div class="app-about-contact-form__item s1">
                            <textarea placeholder="MESSAGE" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="app-about-contact-form__files-container">
                        <div class="app-about-contact-form__info">
                            <p>Attach a Request for Proposal or Any Other Documents that will be
                                Helpful for your Account Manager</p>
                            <p>Accepted file types: jpg. ipeg, png. pdf, doc. Max. file size: 5 MB,
                                Max. files: 4.</p>
                        </div>

                        <div class="app-about-contact-form__drop-area js-droppable-element">
                            <div class="content-panel">
                                <p>Drop files here or:</p>
                                <label class="app-btn app-files-btn">
                                    <span>SELECT FILES</span>
                                    <input type="file" multiple="multiple" />
                                </label>
                            </div>
                        </div>

                        <div class="app-about-contact-form__footer">
                            <div class="app-about-contact-form__footer-captcha">captcha here</div>
                            <button type="submit" class="app-btn app-section-btn">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>