<section class="app-about-positions">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-positions__title">AVAILABLE POSITIONS</div>
            <div class="app-about-positions__offer">
                <div class="app-about-positions__offer-block">
                    <div class="app-about-positions__offer-title">JOB TITLE:</div>
                    <div class="app-about-positions__offer-content">Creative Director</div>
                </div>
                <div class="app-about-positions__offer-block">
                    <div class="app-about-positions__offer-title">JOB OVERVIEW:</div>
                    <div class="app-about-positions__offer-content">
                        <p>We are seeking a highly skilled and visionary Creative Director to lead our creative team and drive our brand's visual identity and messaging
                            across all platforms. The ideal candidate will have a strong background in design, branding, and marketing, with a proven track record cf
                            developing and implementing successful creative strategies.</p>
                    </div>
                </div>
            </div>
            <div class="app-about-positions__footer">
                <p>Career and application questions?</p>
                <p>Send us an email at <a href="mailto:careers@GlobalEvento.com">Careers@GlobalEvento.com</a></p>
            </div>
        </div>
    </div>
</section>