<section class="app-about-story">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-story__grid">
                <div class="app-about-story__photo">
                    <img src="./about/5.jpg" alt="" />
                    <div class="app-article-sp-content">
                        <svg>
                            <use xlink:href="/app-sprite.svg#qmark"></use>
                        </svg>
                        <p>We are hospitality professionals who have devoted our experience and knowledge to creating the most impactful and memorable gifting experience in the industry.</p>
                    </div>
                </div>
                <div class="app-post__block-content ff-roc">
                    <p>We bulld corporate qiting solutions to energize your customers. chents
                        employees, sales teams and channel partners. We specialize in products
                        that are impactful and as unique as your recipients. We specialize in products that are impactful and as unique as your recipients.</p>
                    <p>We specialize in products that are impactiul and as unique as your
                        recipients. We specianze in products that are impactul and as unque
                        as your recipients.</p>
                    <p><b>Whether it's seasonal gifting, managing an on-site event or a yearlong incentive gifting program, our team is here to ensure your success!</b></p>
                </div>
            </div>
        </div>
    </div>
</section>