<section class="app-about-positions">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-positions__title">AVAILABLE POSITIONS</div>
            <div class="app-about-positions__offer">
                <span class="cl-yellow">There are currently no availble positions open.</span>
            </div>
            <div class="app-about-positions__footer">
                <p>Career and application questions?</p>
                <p>Send us an email at <a href="mailto:careers@GlobalEvento.com">Careers@GlobalEvento.com</a></p>
            </div>
        </div>
    </div>
</section>