<section class="app-about-counters">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-counters__grid">
                <div class="app-about-counters__grid-cell">
                    <div class="app-about-counter__title">45</div>
                    <div class="app-about-counter__subtitle mt-10">COUNTRIES VISITED</div>
                </div>
                <div class="app-about-counters__grid-cell">
                    <div class="app-about-counter__title">750+</div>
                    <div class="app-about-counter__subtitle mt-10">CLIENTS SERVED</div>
                </div>
                <div class="app-about-counters__grid-cell">
                    <div class="app-about-counter__title">1,000,000+</div>
                    <div class="app-about-counter__subtitle mt-10">RECIPIENTS</div>
                </div>
            </div>
        </div>
    </div>
</section>