<section class="app-about-post">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-post__grid">
                <div class="app-about-post__photos">
                    <div class="app-about-post__photo-item">
                        <img src="/about/1.png" alt="" />
                    </div>
                    <div class="app-about-post__photo-item">
                        <img src="/about/2.png" alt="" />
                    </div>
                    <div class="app-about-post__photo-item">
                        <img src="/about/3.png" alt="" />
                    </div>
                    <div class="app-about-post__photo-item">
                        <img src="/about/4.png" alt="" />
                    </div>
                </div>
                <div class="app-about-post__container">
                    <div class="app-about-post__block">
                        <div class="app-about-post__block-title">Teamwork</div>
                        <div class="app-about-post__block-content ff-roc">
                            <p>Experience what being a part of the Global Evento community feels like. Be inspired by your leaders, be encouraged and cheered on by your teammates, and be supported in your whole life working while you work with us.</p>
                        </div>
                    </div>
                    <div class="app-about-post__block">
                        <div class="app-about-post__block-title">Learning + Development</div>
                        <div class="app-about-post__block-content ff-roc">
                            <p>Take on leadership development programs and goal setting to create big possibilities for your career and life. Develop within the company; be mentored and grown as a leader from the minute you're hired.</p>
                            <p>We work hard to embrace diversity and inclusion and encourage everyone at Global Evento to bring their authentic selves to work every day. We offer a variety of social programs, flexible work hours and family friendly benefits to all of our employees.</p>
                            <p>
                            <ul>
                                <li>Medical Coverage (after 90 days)
                                <li>Stipends for Cell Phone, Wellness Membership and Wi-Fi</li>
                                <li>3 Weeks Paid Time Off</li>
                                <li>Holiday Paid Time Off</li>
                                <li>Annual Bonuses</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>