<section class="app-about-faq">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-about-faq__container">
                <div class="app-about-faq__item">
                    <input type="checkbox" class="app-about-faq__item-checkbox hidden" id="ch1" />
                    <label class="app-about-faq__item-title" for="ch1">
                        <svg width="30" height="30">
                            <use xlink:href="/app-sprite.svg#arrow-right"></use>
                        </svg>
                        <span>How Much does it cost to use Global Evento services?</span>
                    </label>
                    <div class="app-about-faq__item-container">
                        <div class="inner">
                            <nav class="app-about-faq__item-content">
                                <b>Answer</b> - <span class="cl-yellow">At Global Evento we will always save you time and in most cases save you money. So in that way, our services are always free.</span>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="app-about-faq__item">
                    <input type="checkbox" class="app-about-faq__item-checkbox hidden" id="ch2" />
                    <label class="app-about-faq__item-title" for="ch2">
                        <svg width="30" height="30">
                            <use xlink:href="/app-sprite.svg#arrow-right"></use>
                        </svg>
                        <span>How Much does it cost to use Global Evento services?</span>
                    </label>
                    <div class="app-about-faq__item-container">
                        <div class="inner">
                            <nav class="app-about-faq__item-content">
                                <b>Answer</b> - <span class="cl-yellow">At Global Evento we will always save you time and in most cases save you money. So in that way, our services are always free.</span>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="app-about-faq__item">
                    <input type="checkbox" class="app-about-faq__item-checkbox hidden" id="ch3" />
                    <label class="app-about-faq__item-title" for="ch3">
                        <svg width="30" height="30">
                            <use xlink:href="/app-sprite.svg#arrow-right"></use>
                        </svg>
                        <span>How Much does it cost to use Global Evento services?</span>
                    </label>
                    <div class="app-about-faq__item-container">
                        <div class="inner">
                            <nav class="app-about-faq__item-content">
                                <b>Answer</b> - <span class="cl-yellow">At Global Evento we will always save you time and in most cases save you money. So in that way, our services are always free.</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>