<section class="app-about-perfect-cast">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-heading-v1 mb-40">IT ALL STARTED WITH <b>THE PERFECT CAST</b>.</div>
            <div class="app-about-perfect-cast__grid">
                <div class="app-about-perfect-cast__image">
                    <img src="./about/7.png" alt="" />
                    <img class="ic-lt" src="./about/fish.svg" alt="" />
                    <img class="ic-rb" src="./about/hook.svg" alt="" />
                </div>
                <div class="app-post__block-content ff-roc">
                    <div class="app-content-heading-v1 mb-20">In 2017, Patrick Corley was <b>fly fishing...</b></div>
                    <p>... near Aspen, Colorado when the idea to build a better corporate gifting company came up between casts. The following day, at Hunter S. Thompson's old haunt, The Woody Creek
                        Tavern, that idea was solidified and Global Evento was born.</p>
                    <p>From our first office, a 25 ft Airstream Trailer (yes, we literally took the show on the road) to
                        our recently renovated Central West End location, we couldn't be more proud of what we've accomplished so far.</p>

                    <div class="app-article-sp-content mt-30">
                        <p>Thank you to our clients, industry partners and Global Evento family for making that riverside idea a reality.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>