<section class="app-about-team">
    <div class="app-about-team__header">
        <div class="app-container">
            <div class="app-ct-v1">
                <div class="app-about-team__grid">
                    <a href="/about-team-detail.html" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="app-about-team__bottom">
        <div class="app-container">
            <div class="app-ct-v1">
                <div class="app-about-team__grid">
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                    <a href="#" class="app-about-team__person">
                        <div class="app-about-team__person-img"><img src="/team/1.png" alt="" /></div>
                        <div class="app-about-team__person-name">PATRICK CORLEY</div>
                        <div class="app-about-team__person-position">Managing Partner</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>