<section class="app-about-experts">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-heading-v1 mb-30">MEET <b>OUR TEAM</b> OF LUXURY GIFTING EXPERTS.</div>
            <div class="app-post__block-content ff-roc mb-40">
                <p>Our corporate gift giving team is the muscle and the magic behind impactful presents of gratitude, praise and recognition. Our corporate gift giving team is the muscle
                    and the magic behind impactful presents of gratitude, praise and recognition</p>
            </div>
            <div class="app-about-experts__grid">
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
                <div class="app-about-experts__grid-cell">
                    <img src="./photos/1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>