<section class="app-articles">
    <div class="app-container">
        <div class="app-ct-v2">
            <h2>the clear Path to Exceptional Gifting.</h2>
            <h3>
                <div>Gifting insights <span class="cl-yellow">.</span> Industry trends <span class="cl-yellow">.</span> Ideas that wow </div>
            </h3>

            <div class="app-articles-grid">
                <article class="app-article-card double">
                    <div class="app-article-card__img"><img src="./articles/1.jpg" alt="" /></div>
                    <div class="app-article-card__body">
                        <div class="app-article-card__date">MARCH 12, 2024</div>
                        <div class="app-article-card__title">lululemon - the brand for women & men</div>
                        <hr>
                        <p>We build corporate gifting solutions to energize your customers, clients, employer, sales teams and channel partners</p>
                        <a href="#" class="app-btn"><span>read</span></a>
                    </div>
                </article>
                <article class="app-article-card">
                    <div class="app-article-card__img"><img src="./articles/2.jpg" alt="" /></div>
                    <div class="app-article-card__body">
                        <div class="app-article-card__date">MARCH 12, 2024</div>
                        <div class="app-article-card__title">IMEX 2023 Las Vegas</div>
                        <hr>
                        <p>We build corporate gifting solutions to energize your customers, clients, employer, sales teams and channel partners</p>
                        <a href="#" class="app-btn"><span>read</span></a>
                    </div>
                </article>
                <article class="app-article-card">
                    <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                    <div class="app-article-card__body">
                        <div class="app-article-card__date">MARCH 12, 2024</div>
                        <div class="app-article-card__title">IMEX 2023 Las Vegas</div>
                        <hr>
                        <p>We build corporate gifting solutions to energize your customers, clients, employer, sales teams and channel partners</p>
                        <a href="#" class="app-btn"><span>read</span></a>
                    </div>
                </article>
            </div>

            {{#if all}}
                <div class="app-articles-small-grid">
                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">Gifting with Intention</div>
                            <hr>
                            <p>One of the biggest, and arguably
                                most impactful, trends expected
                                for corporate gifting in 2024 is an
                                increasing focus on personalized
                                gifts that are chosen intentionally.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>

                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">Global Evento's 2024
                                Corporate Gifting Trends and
                                Predictions</div>
                            <hr>
                            <p>As we kick off 2024 here at Global
                                Evento, we've been looking to
                                determine what this year will hold
                                for the gifting industry.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>
                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">How To Incorporate Gifting
                                Into Your Employee Incentive
                                Travel Program</div>
                            <hr>
                            <p>Employee incentive programs are
                                a way for employers to recognize
                                their team and show their
                                employees appreciation for the
                                hard work done over the last year.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>

                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">IMEX 2023 Las Vegas</div>
                            <hr>
                            <p>I've finally had enough time now
                                to reflect back on IMEX 2023 in
                                Las Vegas.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>
                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">Gifting with Intention</div>
                            <hr>
                            <p>One of the biggest, and arguably
                                most impactful, trends expected
                                for corporate gifting in 2024 is an
                                increasing focus on personalized
                                gifts that are chosen intentionally.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>

                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">Global Evento's 2024
                                Corporate Gifting Trends and
                                Predictions</div>
                            <hr>
                            <p>As we kick off 2024 here at Global
                                Evento, we've been looking to
                                determine what this year will hold
                                for the gifting industry.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>
                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">How To Incorporate Gifting
                                Into Your Employee Incentive
                                Travel Program</div>
                            <hr>
                            <p>Employee incentive programs are
                                a way for employers to recognize
                                their team and show their
                                employees appreciation for the
                                hard work done over the last year.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>
                    <article class="app-article-card">
                        <div class="app-article-card__img"><img src="./articles/3.jpg" alt="" /></div>
                        <div class="app-article-card__body">
                            <div class="app-article-card__date">MARCH 12, 2024</div>
                            <div class="app-article-card__title">IMEX 2023 Las Vegas</div>
                            <hr>
                            <p>I've finally had enough time now
                                to reflect back on IMEX 2023 in
                                Las Vegas.</p>
                            <a href="#" class="app-btn"><span>read</span></a>
                        </div>
                    </article>
                </div>
            {{/if}}
        </div>


    </div>
</section>