<section class="app-page-header">
    <div class="app-page-header__title">
        <div class="app-container">
            <div class="app-ct-v1">CLIENT <b>SUCCESS</b> STORIES</div>
        </div>
    </div>
    <div class="app-page-header__content">
        <div class="app-container">
            <div class="app-ct-v1">
                <div class="app-case-study-articles__header-grid">
                    <div class="app-case-study-articles__title">FORTUNE 300 FINANCIAL FIRM - <span>ASPEN, CO</span></div>
                    <div class="app-case-study-articles__nav">
                        <a href="" class="app-case-study-articles__nav-link active"><span>1</span></a>
                        <a href="" class="app-case-study-articles__nav-link"><span>2</span></a>
                        <a href="" class="app-case-study-articles__nav-link"><span>3</span></a>
                        <a href="" class="app-case-study-articles__nav-link"><span>4</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>