<section class="app-case-study-header">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-case-study-header__grid">
                <div class="app-case-study-header__title">
                    CLIENT <span>SUCCESS</span> STORIES
                </div>
                <div class="app-select">
                    <select>
                        <option>Incentive Gifting</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                    <span class="app-select-icon">
                        <svg width="20" height="20">
                            <use xlink:href="/app-sprite.svg#select-down"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>