<section class="app-case-study-articles">
    <div class="app-container">
        <div class="app-ct-v1">

            <div class="app-case-study-articles__header">
                <div class="app-case-study-articles__header-title">
                    CLIENT <span>SUCCESS</span> STORIES
                </div>
                <div class="app-case-study-articles__nav">
                    <a href="" class="app-case-study-articles__nav-link active"><span>1</span></a>
                    <a href="" class="app-case-study-articles__nav-link"><span>2</span></a>
                    <a href="" class="app-case-study-articles__nav-link"><span>3</span></a>
                    <a href="" class="app-case-study-articles__nav-link"><span>4</span></a>
                </div>
            </div>

            <div class="app-case-study-articles__title mb-20">FORTUNE 300 FINANCIAL FIRM - <span>ASPEN, CO</span></div>
            <div class="app-case-study-preview">
                <div class="app-case-study-preview__grid">
                    <img src="case-study/1.jpg" alt="" />
                    <img src="case-study/2.jpg" alt="" />
                    <img src="case-study/3.jpg" alt="" />
                    <img src="case-study/4.jpg" alt="" />
                </div>
                <img class="app-desktop-visible absolute-left" src="case-study/5.png" alt="" />
                <img class="app-desktop-visible absolute-center" src="case-study/6.png" alt="" />
            </div>

            <div class="app-case-study-articles__post">
                <div class="app-case-study-articles__subtitle">BRINGING PEOPLE TOGETHER</div>
                <div class="app-case-study-articles__content">
                    <p>Our client needed to bring together and recognize their top 50 brokers safely. Aspen, Colorado, was a natural choice for an outdoor healthy venue that was still luxurious. Global Evento helped with the build out of a "Classic Aspen Afternoon" that included food, spa services, and craft cocktails - a private, Aspen Food & Wine Festival, if you will. The customized gifts of Le Creuset, basket of spa products, and custom rawhide koozies ensured the experience was extended long after the experience.</p>
                </div>
            </div>

            <div class="app-case-study-articles__vars">
                <div class="app-case-study-articles__vars-cell">
                    <div class="app-case-study-articles__vars-item">
                        <div class="app-case-study-articles__vars-title">
                            <svg width="56" height="56">
                                <use xlink:href="/app-sprite.svg#event-objective"></use>
                            </svg>
                            <p>Event Objective</p>
                        </div>
                        <div class="app-case-study-articles__vars-content text-center">
                            <p>
                                Bring together and recognize top 50 brokers for the first time after a long time apart.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="app-case-study-articles__vars-cell">
                    <div class="app-case-study-articles__vars-item">
                        <div class="app-case-study-articles__vars-title">
                            <svg width="56" height="56">
                                <use xlink:href="/app-sprite.svg#event-solution"></use>
                            </svg>
                            <p>Event Solution</p>
                        </div>
                        <div class="app-case-study-articles__vars-content text-center">
                            <p>
                                Global Evento organized an outdoor gifting suite complete with cooking demonstrations, massages, cocktails, and food.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="app-case-study-articles__vars-cell">
                    <div class="app-case-study-articles__vars-item">
                        <div class="app-case-study-articles__vars-title">
                            <svg width="56" height="56">
                                <use xlink:href="/app-sprite.svg#gifting"></use>
                            </svg>
                            <p>Gifting</p>
                        </div>
                        <div class="app-case-study-articles__vars-content">
                            <ul>
                                <li>Le Creuset Cookware shipped after the program</li>
                                <li>Personalized basket of spa products for each guest</li>
                                <li>Customized kawhide Koozies to keep those craft cocktails cold</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>