<footer class="app-footer">
    <div class="app-container">
        <div class="app-footer-grid">
            <a class="app-footer__logo" href="/">
                <svg width="220" height="50">
                    <use xlink:href="/app-sprite.svg#logo"></use>
                </svg>
            </a>
            <div class="app-footer__info">
                <div><a href="tel:+38888033117" class="app-footer-tel"><span>888</span><span>-</span><span>308</span><span>-</span><span>3117</span></a></div>
                <div><a href="mailto:info@globalevento.com" class="app-footer-mail">info<span>@</span>globalevento<span>.</span>com</a></div>
                <div class="app-footer__info-address">4436 Olive Street St.Louis, Mo 63108</div>
            </div>
            <div class="app-footer__social">
                <a href="#">
                    <svg width="36" height="36">
                        <use xlink:href="/app-sprite.svg#s-fb"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg width="36" height="36">
                        <use xlink:href="/app-sprite.svg#s-ln"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg width="36" height="36">
                        <use xlink:href="/app-sprite.svg#s-in"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="app-footer__basement">
        <div class="app-container">
            <div class="app-footer__basement-content app-desktop-visible">
                <div>© 2024 GLOBAL EVENTO. ALL RIGHTS RESERVED. GLOBAL EVENTO IS AN ESQUINA, LLC COMPANY.</div>
                <div>PRIVACY POLICY COOKIE POLICY ACCESSIBILITY STATEMENT</div>
            </div>
            <div class="app-footer__basement-content app-mobile-visible">
                <div>© 2024 GLOBAL EVENTO. ALL RIGHTS RESERVED. </div>
                <div>PRIVACY POLICY</div>
            </div>
        </div>
    </div>
</footer>