<section class="app-gifting">
    <div class="app-content">
        <h2>Give them something to really talk about.</h2>
        <h3>
            <div>Gifting services that create special memories</div>
            <div><span class="cl-yellow">-</span> every time <span class="cl-yellow">-</span></div>
        </h3>
        <button class="app-btn" id="gifting-swiper-left">
            <svg width="50" height="50">
                <use xlink:href="/app-sprite.svg#arrow-left"></use>
            </svg>
        </button>
        <button class="app-btn" id="gifting-swiper-right">
            <svg width="50" height="50">
                <use xlink:href="/app-sprite.svg#arrow-right"></use>
            </svg>
        </button>
        <swiper-container id="gifting-swiper" init="false" >
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">corporate gifting</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">chanel partner incentives</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">onsite gifting experiences</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">holiday gifting</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">corporate gifting</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">chanel partner incentives</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">onsite gifting experiences</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="app-gifting-card">
                    <div class="app-gifting-card__img"><img loading="lazy" src="/gifting/1.jpg" alt=""/></div>
                    <div class="app-gifting-card__body">
                        <div class="app-gifting-card__title">holiday gifting</div>
                        <div class="app-gifting-card__content">We build corporate gifting solutions to energize your customers, clients, employer.</div>
                        <a href="#" class="app-btn app-section-btn"><span>Explore</span></a>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                const swiper = document.getElementById("gifting-swiper");
                const slidePrevButton = document.getElementById("gifting-swiper-left");
                const slideNextButton = document.getElementById("gifting-swiper-right");

                const params = {
                    loop: true,
                    centeredSlides: true,
                    centeredSlidesBounds: true,
                    spaceBetween: 28,
                    breakpoints: {
                        640: {
                            slidesPerView: 1,
                        },
                        1200: {
                            slidesPerView: 3,
                        },
                        1620: {
                            slidesPerView: 5,
                        },
                    },
                };

                Object.assign(swiper, params);

                swiper.initialize();

                const {swiper: sw} = swiper;

                if (slideNextButton && slidePrevButton && sw) {
                    slideNextButton.addEventListener('click', () => {
                        sw.slideNext();
                    })

                    slidePrevButton.addEventListener('click', () => {
                        sw.slidePrev();
                    })
                }
            })
        </script>
    </div>
</section>