<header class="app-header">
    <div class="app-container">
        <div class="app-header__wrapper app-desktop-visible">
            <div class="app-header__left">
                <a class="app-header__logo" href="/">
                    <svg width="152" height="50">
                        <use xlink:href="/app-sprite.svg#logo"></use>
                    </svg>
                </a>
                <nav class="app-header__nav">
                    <b class="app-header__nav-title">Gifts for:</b>
                    <div class="app-header__nav-btn-wrap">
                        <a class="app-header__nav-btn" href="#">
                            <span>corporate</span>
                            <svg width="8" height="8">
                                <use xlink:href="/app-sprite.svg#submenu"></use>
                            </svg>
                        </a>
                        <nav class="app-header__sub-nav">
                            <a class="header__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                    <div class="app-header__nav-btn-wrap">
                        <a class="app-header__nav-btn" href="#">
                            <span>events</span>
                            <svg width="8" height="8">
                                <use xlink:href="/app-sprite.svg#submenu"></use>
                            </svg>
                        </a>
                        <nav class="app-header__sub-nav">
                            <a class="header__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                    <div class="app-header__nav-btn-wrap">
                        <a class="app-header__nav-btn" href="#">
                            <span>virtual</span>
                            <svg width="8" height="8">
                                <use xlink:href="/app-sprite.svg#submenu"></use>
                            </svg>
                        </a>
                        <nav class="app-header__sub-nav">
                            <a class="header__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                </nav>
                <nav class="app-header__nav">
                    <div class="app-header__nav-btn-wrap">
                        <a class="app-header__nav-btn" href="#">
                            <span>gift inspiration</span>
                            <svg width="8" height="8">
                                <use xlink:href="/app-sprite.svg#submenu"></use>
                            </svg>
                        </a>
                        <nav class="app-header__sub-nav">
                            <a class="header__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                    <div class="app-header__nav-btn-wrap">
                        <a class="app-header__nav-btn" href="#">
                            <span>about</span>
                            <svg width="8" height="8">
                                <use xlink:href="/app-sprite.svg#submenu"></use>
                            </svg>
                        </a>
                        <nav class="app-header__sub-nav -v3 -right">
                            <a class="header__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="header__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="app-header__right">
                <a href="tel:+38888033117" class="app-header-tel"><span>888</span><span>-</span><span>308</span><span>-</span><span>3117</span></a>
                <a href="#" class="app-btn app-header-btn"><span>free consultation</span></a>
            </div>
        </div>
        <div class="app-header__wrapper app-mobile-visible">
            <div class="app-header__left">
                <a class="app-header__logo" href="/">
                    <svg width="152" height="50">
                        <use xlink:href="/app-sprite.svg#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="app-header__right">
                <a href="tel:+38888033117" class="app-header-tel"><span>888</span><span>-</span><span>308</span><span>-</span><span>3117</span></a>
                <a href="#" class="app-btn app-header-btn"><span>free consultation</span></a>
                <button class="app-btn app-hamburger-btn js-sidebar-btn-element">
                    <div class="app-hamburger__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</header>