<header class="app-header">
    <div class="app-container">
        <div class="app-header__wrapper app-desktop-visible">
            <div class="app-header__left">
                <a class="app-header__logo" href="/">
                    <svg width="220" height="50">
                        <use xlink:href="/app-sprite.svg#logo"></use>
                    </svg>
                </a>
                <nav class="app-header__nav">
                    <b>Gifts for:</b>
                    <a href="#">
                        <span>corporate</span>
                        <svg width="10" height="10">
                            <use xlink:href="/app-sprite.svg#submenu"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <span>events</span>
                        <svg width="10" height="10">
                            <use xlink:href="/app-sprite.svg#submenu"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <span>virtual</span>
                        <svg width="10" height="10">
                            <use xlink:href="/app-sprite.svg#submenu"></use>
                        </svg>
                    </a>
                </nav>
                <nav class="app-header__nav">
                    <a href="#">
                        <span>gift inspiration</span>
                        <svg width="10" height="10">
                            <use xlink:href="/app-sprite.svg#submenu"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <span>about</span>
                        <svg width="10" height="10">
                            <use xlink:href="/app-sprite.svg#submenu"></use>
                        </svg>
                    </a>
                </nav>
            </div>
            <div class="app-header__right">
                <a href="tel:+38888033117" class="app-header-tel"><span>888</span><span>-</span><span>308</span><span>-</span><span>3117</span></a>
                <a href="#" class="app-btn app-header-btn"><span>free consultation</span></a>
            </div>
        </div>
    </div>
</header>