<section class="app-questionbox">
    <div class="app-container">
        <div class="app-content">
            <svg width="80" height="80">
                <use xlink:href="/app-sprite.svg#qmess"></use>
            </svg>
            <span>Have questions? Speak to a Gifting Strategist - <a href="tel:+38888033117" class="app-questionbox-tel"><span>888</span><span>-</span><span>308</span><span>-</span><span>3117</span></a></span>
        </div>
    </div>
</section>