<section class="app-question-desktop app-desktop-visible">
    <div class="app-container">
        <div class="app-content">
            <svg width="80" height="80">
                <use xlink:href="/app-sprite.svg#qmess"></use>
            </svg>
            <span>Have questions? Speak to a Gifting Strategist - <a href="tel:+38888033117" class="app-questionbox-tel"><span>888</span><span>-</span><span>308</span><span>-</span><span>3117</span></a></span>
        </div>
    </div>
</section>

<section class="app-question-mobile app-mobile-visible">
    <div class="app-container">
        <div class="app-content">
            <h2><span>WHAT MAKES US</span> THE LUXURY CORPORATE GIFTING <span>AGENCY?</span></h2>
            <p>We are nospilaly proessionals who nave devoted our experience and knowledge to creating the most impactful and memorable gifting experience in the industry.</p>
            <a href="#" class="app-btn"><span>DISCOVER OUR STORY</span></a>
        </div>
    </div>
</section>