<section class="app-post">
    <div class="app-container">
        <div class="app-ct-v1">
            <div class="app-post__grid">
                <div class="app-post__photos">
                    <div class="app-post__photo-item">
                        <img src="/about/1.png" alt="" />
                    </div>
                    <div class="app-post__photo-item">
                        <img src="/about/2.png" alt="" />
                    </div>
                    <div class="app-post__photo-item">
                        <img src="/about/3.png" alt="" />
                    </div>
                    <div class="app-post__photo-item">
                        <img src="/about/4.png" alt="" />
                    </div>
                </div>
                <div class="app-post__container">
                    <div class="app-post__block">
                        <div class="app-post__block-title">Flene a meanineru emier your emolovees, customers anc channel partners can prove difficult.</div>
                        <div class="app-post__block-content ff-roc">
                            <hr>
                            <p>The right gift connects your brand and services with the recipient on a personal level.
                                Every time they see, use, or taste the gift, their mind goes
                                back to you. They know
                                they're sincerely valued, strengthening the ties they have to your brand.</p>
                            <p>Let the corporate gifting experts at Global Evento guide you to the right solution for
                                your audience and budget.</p>
                            <p>Call <a href="">888-803-3117</a> for a <a href="">free consultation</a> with a <a href="">corporate gifting expert</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>