<aside class="app-sidebar app-mobile-visible js-sidebar-element">
    <div class="app-sidebar__scroll">
        <nav class="app-sidebar__nav">
            <div class="app-sidebar__nav-btn-wrap">
                <input class="app-sidebar__sub-checkbox hidden" type="checkbox" id="sb1" />
                <label for="sb1" class="app-sidebar__nav-btn">
                    <span>corporate</span>
                    <svg width="10" height="10">
                        <use xlink:href="/app-sprite.svg#submenu"></use>
                    </svg>
                </label>
                <div class="app-sidebar__sub-nav-wrap">
                    <div class="inner">
                        <nav class="app-sidebar__sub-nav">
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="app-sidebar__nav-btn-wrap">
                <input class="app-sidebar__sub-checkbox hidden" type="checkbox" id="sb2" />
                <label for="sb2" class="app-sidebar__nav-btn">
                    <span>events</span>
                    <svg width="10" height="10">
                        <use xlink:href="/app-sprite.svg#submenu"></use>
                    </svg>
                </label>
                <div class="app-sidebar__sub-nav-wrap">
                    <div class="inner">
                        <nav class="app-sidebar__sub-nav">
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="app-sidebar__nav-btn-wrap">
                <input class="app-sidebar__sub-checkbox hidden" type="checkbox" id="sb3" />
                <label for="sb3" class="app-sidebar__nav-btn">
                    <span>virtual</span>
                    <svg width="10" height="10">
                        <use xlink:href="/app-sprite.svg#submenu"></use>
                    </svg>
                </label>
                <div class="app-sidebar__sub-nav-wrap">
                    <div class="inner">
                        <nav class="app-sidebar__sub-nav">
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="app-sidebar__nav-btn-wrap">
                <input class="app-sidebar__sub-checkbox hidden" type="checkbox" id="sb4" />
                <label for="sb4" class="app-sidebar__nav-btn">
                    <span>gift inspiration</span>
                    <svg width="10" height="10">
                        <use xlink:href="/app-sprite.svg#submenu"></use>
                    </svg>
                </label>
                <div class="app-sidebar__sub-nav-wrap">
                    <div class="inner">
                        <nav class="app-sidebar__sub-nav">
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Corporate Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Client Appreciation</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Employee Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Incentive Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>International Services</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Holiday Gifting</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="#"><span>Executive Gifting</span></a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="app-sidebar__nav-btn-wrap">
                <input class="app-sidebar__sub-checkbox hidden" type="checkbox" id="sb5" />
                <label for="sb5" class="app-sidebar__nav-btn">
                    <span>about</span>
                    <svg width="10" height="10">
                        <use xlink:href="/app-sprite.svg#submenu"></use>
                    </svg>
                </label>
                <div class="app-sidebar__sub-nav-wrap">
                    <div class="inner">
                        <nav class="app-sidebar__sub-nav">
                            <a class="app-sidebar__sub-nav-btn" href="about-careers.html"><span>Careeers</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="about-careers-no-positions.html"><span>Careeers no position</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="about-contact-us.html"><span>Contact us</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="about-faq.html"><span>Faq</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="about-team.html"><span>Team</span></a>
                            <a class="app-sidebar__sub-nav-btn" href="about-team-detail.html"><span>Team details</span></a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</aside>