<section class="app-solutions">
    <div class="app-content">
        <div class="app-content__inner">
            <h2>
                <div><span>Global Evento <span class="cl-yellow">:</span> the indastry-leading</span></div>
                <div>Luxury Corporate Gifting <span>Agency.</span></div>
            </h2>
            <hr>
            <p>We build corporate gifting solutions to energize your customers, clients, employer, sales teams and channel partners. We specialize in products that are impactful and as unique as your recipients.</p>
            <a href="#" class="app-btn app-section-btn"><span>our solutions</span></a>
        </div>
    </div>
</section>