<section class="app-solutions">
    <div class="app-content">
        <div class="app-content__inner">
            <div class="app-solutions__tc">
                <h2>
                    <div><span>Global Evento <span class="cl-yellow">:</span> <nobr>the industry-leading</nobr></span></div>
                    <div>Luxury Corporate Gifting <span>Agency.</span></div>
                </h2>
            </div>
            <div class="app-solutions__cc">
                <hr class="app-desktop-visible">
                <img class="app-mobile-visible" src="./solutions.webp" />
            </div>
            <div class="app-solutions__bc">
                <p class="content-t">Give them something to talk about</p>
                <p>We build corporate gifting solutions to energize your customers, clients, employer, sales teams and channel partners. We specialize in products that are impactful and as unique as your recipients.</p>
                <a href="#" class="app-btn app-section-btn"><span>our solutions</span></a>
            </div>
        </div>
    </div>
</section>