
:root {
    --b-gap: 54px;

    --bg-dark: #000;
    --bg-secondary: #313131;

    --cl-yellow: #F76800;
    --cl-dark-yellow: #d3520c;
    --cl-section-border: #dcdcdc;

    --header-index: 10;
    --header-height: 70px;

    --container-indent: #{withRatio(var(--b-gap))};

    --h1-fs: #{withRatio(34px)};
    --h2-fs: #{withRatio(28px)};
    --h3-fs: #{withRatio(18px)};

    --h-index: 100;
    --fs-ratio: 1;


    @include mq-max(xl) {
        --fs-ratio: 0.93;
    }

    @include mq-max(lg) {
        --fs-ratio: 0.90;
    }

    @include mq-max(md) {
        --fs-ratio: 0.80;
        --container-indent: 28px;

        --h1-fs: 28px;
        --h2-fs: 20px;
        --h3-fs: 20px;
    }

    @include mq-max(sm) {

    }
}

h1,h2,h3 {
    margin: 0;
    text-transform: uppercase;
    line-height: 1.5;

    span {
        font-weight: 300;
    }
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
    line-height: 1.3;

    + h3 {
        margin-top: 8px;
    }
}

h3 {
    font-family: 'Rokkitt', sans-serif;
    font-weight: 300;
    text-transform: none;
    line-height: 1.2;
    letter-spacing: 1.9px;
    font-size: var(--h3-fs);
}

[href] {
    color: currentColor;
    text-decoration: none;
}

html, body {
    font-weight: normal;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #212121;
}

html.ovhidden ,
html.ovhidden body {
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden!important;
}


.ovhidden {
    overflow: hidden!important;
}

.ellipsis {
    display: block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none!important;
}

.pixel {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1111;
    opacity: 0.2;
}


.app-desktop-visible {
    @include mq-max(md) {
        display: none!important;
    }
}

.app-mobile-visible {
    @include mq-min(md) {
        display: none!important;
    }
}

.app-container {
    padding-left: var(--container-indent);
    padding-right: var(--container-indent);
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include mq-max(sm) {
        padding-top: var(--header-b-height);
        padding-bottom: var(--footer-height);
    }
}


.cl-yellow {
    color: var(--cl-yellow)
}
