.app-footer {
    color: white;
    margin-top: auto;
    background-color: var(--bg-secondary);

    a {
        &:hover {
            opacity: 0.8;
            transition: opacity 0.2s ease-out;
        }
    }

    @include mq-max(md) {
        .app-footer-grid {
            padding-top: 30px;
            padding-bottom: 20px;
            flex-direction: column;
        }
        .app-footer__basement {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .app-footer__basement-content {
            font-size: 11px;
            line-height: 2;
            letter-spacing: 1px;
        }
        .app-footer__info {
            letter-spacing: 0.5px;
            font-size: 16px;
            line-height: 1.5;

            a {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .app-footer__logo {
            max-width: 144px;
            margin-bottom: 16px;
        }
        .app-footer-mail {
            text-transform: none;
            color: var(--cl-yellow)
        }
        .app-footer__info-address {
            margin-top: 7px;
        }
        .app-footer__social {
            margin-top: 22px;
            svg {
                width: 42px;
                height: 42px;
            }
            [href] ~ [href] {
                margin-left: 20px;
            }
        }
    }
}

.app-footer__basement {
    font-size: 14px;
    font-weight: 400;
    background-color: var(--bg-dark);
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}

.app-footer__basement-content {
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgba(255,255,255,0.8);
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.app-footer__info {
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;

    a {
        font-size: 22px;
        font-weight: 600;
    }
}

.app-footer__info-address {
    margin-top: 15px;
}

.app-footer__social {
    [href] {
        ~ [href] {
            margin-left: 16px;
        }
    }
}

.app-footer-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: withRatio(44px);
    padding-bottom: withRatio(44px);
}

.app-footer__logo {
    svg {
        max-width: 100%;
    }
}