
.app-header {
    background-color: var(--bg-dark);
    position: sticky;
    z-index: var(--h-index);
    top: 0;

    @include mq-max(lg) {
        .app-header-btn {
            white-space: normal;
            min-width: 150px;
            text-align: center;
            font-size: 12px;
            line-height: 1.25;
        }

        .app-header__logo {
            max-width: 100px;
            min-width: 100px;
            margin-right: 20px;
        }


        .app-header__nav {
            padding-left: 10px;
            margin-left: 10px;
        }

        .app-header-btn {
            margin-left: 20px;
        }
    }

    @include mq((points: (max-width: 1200px))){
        .app-header__wrapper.app-desktop-visible {
            .app-header-tel {
                display: none;
            }
        }
    }

    @include mq((points: (max-width: 1100px))){
        .app-header__nav {
            padding-left: 0;
            margin-left: 0;
            box-shadow: none;
            display: inline-flex;

            b {
                display: none;
            }
        }
    }

    @include mq-max(md) {
        .app-header__logo {
            max-width: 160px;
            min-width: 160px;
        }
    }

    @include mq-max(sm) {
        .app-header__wrapper.app-mobile-visible {
            .app-header-tel, .app-header-btn {
                display: none;
            }
        }
    }
}

.app-header__logo {
    margin-right: 20px;

    svg {
        max-width: 100%;
    }
}

.app-header__nav {
    --hn-sh-cl: #fff;

    color: #fff;
    margin-left: withRatio(19px);
    padding-left: withRatio(20px);
    box-shadow: -1px 0 0 var(--hn-sh-cl);
    padding-top: withRatio(12px);
    padding-bottom: withRatio(12px);

    b {
        font-size: withRatio(13px);
        text-transform: uppercase;
        margin-right: withRatio(16px);
        margin-left: withRatio(18px);
        letter-spacing: 1.7px;
    }

    [href] {
        white-space: nowrap;
        padding: 6px withRatio(8px);
        text-transform: uppercase;
        font-size: withRatio(10px);
        font-weight: 600;
        letter-spacing: 1.3px;

        svg {
            margin-left: 4px;
        }

        &:hover {
            transition: opacity 0.15s ease-out;
            opacity: 0.8;
        }
    }

    ~ .app-header__nav {
        --hn-sh-cl: #666
    }
}

.app-header__wrapper {
    height: var(--header-height);
    position: relative;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__left,
.app-header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__left {
    margin-right: auto;
}

.app-header__right {
    margin-left: auto;
}

.app-header-tel {
    font-size: withRatio(10px);
    font-weight: 600;
    letter-spacing: 1.7px;
    color: white;
    margin-right: withRatio(26px);
    white-space: nowrap;
}

.app-hamburger-btn {
    --btn-size: 40px;
    --btn-indent: 10px;
    --btn-color: #b0b0b0;
    margin-left: 36px;
}

.app-hamburger__icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    span {
        display: block;
        width: 40px;
        position: relative;
        border-top: 4px solid;
        z-index: 1;
        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;

        ~ span {
            margin-top: 7px;
        }

    }

    .app-hamburger-btn.active & span {
        opacity: 1;
        transform: rotate(-45deg) translate(1px, 0);
        background: #232323;

        &:nth-last-child(3) {
            transform: rotate(45deg) translate(1px, -7px);
        }

        &:nth-last-child(2) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
    }

    span:first-child {
        transform-origin: 0 0;
    }

    span:nth-last-child(2) {
        transform-origin: 0 100%;
    }
}