
.app-header {
    background-color: var(--bg-dark);
    position: sticky;
    z-index: var(--h-index);
    top: 0;

    @include mq-max(lg) {
        .app-header-btn {
            white-space: normal;
            min-width: 150px;
            text-align: center;
            font-size: 12px;
            line-height: 1.25;
        }

        .app-header__logo {
            max-width: 100px;
            min-width: 100px;
            margin-right: 20px;
        }


        .app-header__nav {
            padding-left: 10px;
            margin-left: 10px;
        }

        .app-header-btn {
            margin-left: 20px;
        }
    }

    @include mq((points: (max-width: 1200px))){
        .app-header__wrapper.app-desktop-visible {
            .app-header-tel {
                display: none;
            }
        }
    }

    @include mq((points: (max-width: 1100px))){
        .app-header__nav {
            padding-left: 0;
            margin-left: 0;
            display: inline-flex;

            &:before {
                display: none;
            }

            .app-header__nav-title {
                display: none;
            }
        }
    }

    @include mq-max(md) {
        .app-header__logo {
            max-width: 160px;
            min-width: 160px;
        }
    }

    @include mq-max(sm) {
        .app-header__wrapper.app-mobile-visible {
            .app-header-tel, .app-header-btn {
                display: none;
            }
        }
    }
}

.app-header__logo {
    margin-right: 20px;

    svg {
        max-width: 100%;
    }
}

.app-header__nav-title {
    font-size: withRatio(13px);
    text-transform: uppercase;
    margin-right: withRatio(16px);
    margin-left: withRatio(18px);
    letter-spacing: 1.7px;
}

.app-header__nav-btn-wrap {
    position: relative;

    &:hover {
        .app-header__nav-btn {
            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent);
        }
        .app-header__sub-nav {
            display: grid;
            transform: translateY(0px);
            opacity: 1;

            @starting-style {
                opacity: 0;
                transform: translateY(30px);
            }
        }
    }
}

.app-header__nav-btn {
    white-space: nowrap;
    padding: 6px withRatio(8px) 6px withRatio(12px);
    text-transform: uppercase;
    font-size: withRatio(10px);
    font-weight: 600;
    letter-spacing: 1.3px;
    height: var(--header-height);
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;

    svg {
        margin-left: 4px;
        color: var(--cl-yellow)
    }
}

.app-header__nav {
    --hn-sh-cl: #fff;
    position: relative;
    display: flex;
    align-items: center;

    color: #fff;
    margin-left: withRatio(19px);
    padding-left: withRatio(20px);

    &:before {
        content: "";
        width: 1px;
        height: calc(var(--header-height) - 30px);
        background-color: var(--hn-sh-cl);
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    ~ .app-header__nav {
        --hn-sh-cl: #666
    }
}

.header__sub-nav-btn {
    position: relative;
    color: black;

    &:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 10px;
        margin-right: 8px;
        width: 2px;
        height: 2px;
        border-radius: 2px;
        box-shadow: inset 0 0 0 3px;
    }

    > span {
        color: white;
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding-bottom: 4px;
        padding-top: 4px;
        line-height: 1;
        vertical-align: middle;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            box-shadow: inset 0 1px 0;
            transform: translateX(100%);
            transition: transform 0.15s ease-out;
        }
    }

    &:hover {
        > span {
            &:after {
                transform: translateX(0);
            }
        }
    }
}

.app-header__sub-nav {
    --nav-sh-width: 2px;
    --cols: 2;

    display: none;
    position: absolute;
    background-color: var(--cl-yellow);
    left: calc(-1 * var(--nav-sh-width));
    top: calc(100% - var(--nav-sh-width));
    padding: 24px 42px 34px;
    box-shadow: inset 0 0 0 var(--nav-sh-width) black;
    grid-template-columns: repeat(var(--cols), minmax(max-content, 1fr));
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
    transition-behavior: allow-discrete;
    transform: translateY(30px);
    opacity: 0;
    font-size: 12px;
    gap: 8px 42px;

    &.-v3 {
       --cols: 3;
    }

    &.-right {
        left: unset;
        right: calc(-1 * var(--nav-sh-width));
    }
}

.app-header__wrapper {
    height: var(--header-height);
    position: relative;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__left,
.app-header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header__left {
    margin-right: auto;
}

.app-header__right {
    margin-left: auto;
}

.app-header-tel {
    font-size: withRatio(10px);
    font-weight: 600;
    letter-spacing: 1.7px;
    color: white;
    margin-right: withRatio(26px);
    white-space: nowrap;
}

.app-hamburger-btn {
    --btn-size: 40px;
    --btn-indent: 10px;
    --btn-color: #b0b0b0;
    margin-left: 36px;
}

.app-hamburger__icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    span {
        display: block;
        width: 40px;
        position: relative;
        border-top: 4px solid;
        z-index: 1;
        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;

        ~ span {
            margin-top: 7px;
        }

    }

    .app-hamburger-btn.active & span {
        opacity: 1;
        transform: rotate(-45deg) translate(1px, 0);
        background: #232323;

        &:nth-last-child(3) {
            transform: rotate(45deg) translate(1px, -7px);
        }

        &:nth-last-child(2) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
    }

    span:first-child {
        transform-origin: 0 0;
    }

    span:nth-last-child(2) {
        transform-origin: 0 100%;
    }
}